.datapos {
    &-block1 {
        position: absolute;
        margin-top: 5%;
        left: 15%;
    }

    &-block2 {
        position: absolute;
        margin-top: 5%;
        top: 31.5%;
        right: 15%;
    }

}