.container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 1000px;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #b12e24;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 11px;
      right: 0;
      bottom: 0;
      left: 11px;
      width: 8px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }
  input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 45px;
    height: 45px;
    outline: none;
    border-color: #ced4da;
    background: white;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    color: #b12e24;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -250px;
      background: #ced4da;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      opacity: 0.5;
    }
  }
}

.containerText {
  display: none;
  position: absolute;
  margin-top: 75px;
  margin-left: 45px;
  top: 0;
  left: 1000px;
  right: 0;
  bottom: 0;
  width: 245px;
  height: 100px;
  background: white;
  box-shadow: 1px 1px 6px rgb(195, 195, 195);
  border-radius: 3px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  list-style-type: none;
  padding: 7px 0px;
  cursor: pointer;
  :hover {
    background: lightgray;
  }
  .searchText {
    padding: 5px 10px;
    :hover {
      cursor: pointer;
      background-color: #d4d4d4;
    }
  }
}